html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4;
  color: #000;
  font-family: "Cardo", "Times", serif; }

a {
  font-family: "Cardo", "Times", serif;
  color: #663333;
  border: none;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

.hspacerMain {
  visibility: hidden;
  min-height: 3em;
  margin: 1em 0;
  padding: 0; }

.hspacerSide {
  visibility: hidden;
  min-height: 1em;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

section .flexslider {
  position: relative;
  margin: 1.5em auto 3em auto;
  min-width: 19em;
  max-width: 49em; }

body {
  background-color: white; }

#wrapper {
  background-color: white;
  display: block;
  width: 68.75em;
  max-width: 90%;
  margin: 1em auto 0 auto;
  position: relative;
  min-height: 100%; }

header {
  display: block;
  width: 100%;
  height: 4em;
  margin: 0.6em 0; }

h1 {
  color: #333;
  font-family: "Hammersmith One", "Gotham", "Helvetica", sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em; }

h2 {
  color: #333;
  font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
  font-size: 1.5em;
  line-height: 1.3em; }

p {
  margin: 0 0 1.1em 0; }

nav {
  position: static;
  line-height: 3em; }
  nav ul {
    float: right; }
  nav li {
    display: inline;
    border-left: 1px #cccccc solid; }
    nav li a {
      font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
      text-align: center;
      padding: 0.2em 0.8em;
      margin: 0 0 0 0.3em;
      color: #663333; }
    nav li a.activeLink {
      background-color: #ffcc00; }
    nav li a:hover {
      background-color: #ffcc00;
      text-decoration: none; }
  nav li:first-child {
    border: none; }

.logo {
  display: block;
  float: left;
  background-image: url(../img/logo1.jpg);
  background-repeat: no-repeat;
  text-decoration: none;
  font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
  font-size: 1.1em;
  text-align: center;
  padding-top: 2em;
  width: 6em; }

#backToTop {
  visibility: hidden;
  position: absolute; }

#mainContent {
  background-color: white;
  display: block;
  float: left;
  padding: 0;
  margin-top: 1.25em;
  width: 68%; }

.accordion {
  width: 100%; }
  .accordion .accordionitem {
    cursor: pointer;
    background-color: #AAA;
    margin-bottom: 1em; }
    .accordion .accordionitem h3 {
      margin: 0;
      padding: 0.5em; }
  .accordion .accordionContents {
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
    background-color: #AAA;
    max-height: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0 0.5em; }
    .accordion .accordionContents.openMe {
      overflow: auto; }

#backToTop a {
  /* display as block, then hide it */
  display: block;
  display: none;
  z-index: 999;
  opacity: .8;
  /* keep it fixed in the upper right when showing */
  position: fixed;
  top: .5em;
  right: .7em;
  /* round the corners using the $genRadius var set in the SCSS */
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: .8em;
  background-color: #333;
  font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: .8em;
  color: #fff; }
  #backToTop a:hover {
    background-color: #000;
    opacity: .9; }

#sideBar {
  display: block;
  min-height: 200px;
  float: right;
  border-left: 1px #cccccc solid;
  padding: 0em 1em;
  margin-top: 1.5em;
  width: 28%; }
  #sideBar h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: .4em; }
  #sideBar p {
    font-size: .8em;
    line-height: 1.2em; }
  #sideBar .feedThumb {
    float: left;
    margin-right: .5em; }
  #sideBar #twitter_div a {
    font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
    color: #663333;
    font-size: .7em;
    text-decoration: none; }
  #sideBar #twitter_div ul li {
    font-family: "Cardo", "Times", serif;
    font-size: .7em;
    line-height: 1.3em;
    margin-bottom: 1em; }
    #sideBar #twitter_div ul li a {
      font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
      color: #663333;
      text-decoration: none; }
    #sideBar #twitter_div ul li .theTweet {
      color: #000;
      font-family: "Cardo", "Times", serif;
      font-size: 1em;
      line-height: 1.3em; }
  #sideBar #blogfeed {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em; }
    #sideBar #blogfeed a {
      font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
      color: #663333;
      text-decoration: none; }
    #sideBar #blogfeed h3 {
      font-size: .8em;
      line-height: 1.1em;
      margin-bottom: .4em; }
    #sideBar #blogfeed p {
      font-family: "Cardo", "Times", serif;
      font-size: .7em;
      line-height: 1.2em;
      margin-bottom: 1.2em; }
    #sideBar #blogfeed span {
      font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
      font-size: .6em;
      float: right; }
    #sideBar #blogfeed img {
      margin-top: .5em;
      clear: both;
      float: none;
      width: 100%;
      margin-bottom: 1em; }

footer {
  background-color: #cccccc;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0px;
  height: 2.5em;
  width: 100%; }
  footer #social {
    min-width: 18em;
    float: right;
    position: relative;
    padding: 0.6em 0em 1em 0em; }
    footer #social li {
      display: inline; }
    footer #social a {
      font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
      text-align: center;
      color: #000;
      font-size: .7em;
      padding: 0.5em 0.3em 0.4em 2.2em;
      margin-right: .1em;
      width: 25%;
      background-position: 5% 50%;
      background-repeat: no-repeat; }
      footer #social a.linkedin {
        background-image: url(../img/linkedInIcon1.png); }
      footer #social a.facebook {
        background-image: url(../img/facebookIcon1.png); }
      footer #social a.twitter {
        background-image: url(../img/twitterIcon1.png); }
      footer #social a.resume {
        background-image: url(../img/resumeIcon1.png); }
    footer #social a:hover {
      background-color: #adadad;
      text-decoration: none; }

#mainColumn {
  width: 96%;
  margin: 0em 1em; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 37.5em) {
  /* =========== THIS STUFF IS FOR STYLES THAT SHOULD SHOW UP *ONLY* ON LARGER LAYOUTS =========== */
  a.menu-link, #smallSlider {
    display: none; }

  #bigSlider {
    display: block; }

  .js nav[role=navigation] {
    max-height: none; } }
@media only screen and (max-width: 68.75em) {
  #wrapper {
    width: 68.75em;
    max-width: 90%; } }
@media only screen and (max-width: 48em) {
  #wrapper {
    width: 48em;
    max-width: 90%; }

  nav {
    position: static;
    bottom: 0px;
    width: auto; }

  #sideBar {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    float: none;
    clear: both;
    width: 100%;
    padding: 1em;
    min-height: 100px;
    position: static;
    border: none;
    background-color: #DDD; }
    #sideBar #twitter_div ul li {
      font-family: "Cardo", "Times", serif;
      font-size: 1em;
      line-height: 1.1em;
      margin-bottom: 1em; }
      #sideBar #twitter_div ul li a {
        font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
        color: #663333;
        text-decoration: none; }
        #sideBar #twitter_div ul li a :hover {
          background-color: #ffc; }
      #sideBar #twitter_div ul li .theTweet {
        color: #000;
        font-family: "Cardo", "Times", serif;
        font-size: 1em;
        line-height: 1.3em; }
    #sideBar #twitter_div #twitter-link {
      display: block;
      text-align: right; }
    #sideBar #blogfeed {
      border-bottom: 1px solid #cccccc;
      margin-bottom: 1em; }
      #sideBar #blogfeed li {
        margin-bottom: 2em; }
      #sideBar #blogfeed h3 {
        font-size: 1em;
        line-height: 1.3em;
        margin-bottom: .4em; }
        #sideBar #blogfeed h3 :hover {
          background-color: #ffc; }
        #sideBar #blogfeed h3 a {
          font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
          color: #663333;
          text-decoration: none; }
      #sideBar #blogfeed p {
        font-family: "Cardo", "Times", serif;
        font-size: .9em;
        line-height: 1.2em;
        margin-bottom: 1.5em; }
      #sideBar #blogfeed span {
        font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
        font-size: .8em;
        float: none; }
      #sideBar #blogfeed img {
        margin: 0.5em 0 0 0;
        padding: 0 0 0 0.5em;
        float: right;
        width: 35%;
        margin-bottom: 1em; }

  .hspacerMain {
    visibility: hidden;
    min-height: 1em;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid #cccccc; }

  .hspacerSide {
    visibility: hidden;
    min-height: 3em;
    margin: 1em 0;
    padding: 0; }

  #mainContent {
    width: 100%; } }
@media only screen and (max-width: 37.5em) and (min-width: 23.5em) {
  /* This is a crazy but successful solution for centering the horizontal nav in tablet-mode only, using only CSS */
  nav {
    width: 100%;
    font-size: .9em;
    float: left;
    overflow: hidden;
    position: relative; }
    nav ul {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      left: 50%;
      text-align: center; }
      nav ul li {
        display: inline;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        right: 50%;
        border-left: 1px #cccccc solid; }
        nav ul li a {
          text-align: center;
          padding: .8em;
          margin: 0 0.3em 0 0.3em; }

  a.menu-link, #bigSlider {
    display: none; }

  #smallSlider {
    display: block; } }
@media only screen and (max-width: 37.5em) {
  a.menu-link, #bigSlider {
    display: none; }

  #smallSlider {
    display: block; }

  #wrapper {
    width: 37.5em;
    max-width: 90%;
    margin-top: 1em; }

  #mainContent {
    width: 100%;
    margin-top: 1em; }

  section .flexslider {
    margin: 1.5em auto 2.5em auto;
    min-width: 19em;
    max-width: 49em; }

  header {
    min-height: 7em; }
    header .logo {
      clear: left;
      float: none;
      margin: 0px auto;
      padding-top: 2em;
      padding-bottom: .6em;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }

  h1 {
    font-size: 1.5em;
    line-height: 1.4em; }

  h2 {
    font-size: 1.3em;
    line-height: 1.2em; }

  #sideBar {
    float: none;
    clear: both;
    position: relative;
    width: 100%;
    border: none;
    padding: 1em 1em 2em 1em; } }
@media only screen and (max-width: 23.5em) {
  /* Style adjustments for viewports that meet the condition */
  /* SHRINK SOCIAL ICONS*/
  body {
    min-width: 310px; }

  #wrapper {
    width: 23.5em;
    max-width: 90%;
    margin: 3.5em 0 0 1em; }

  section .flexslider {
    margin: 1em 0 2em 0;
    min-width: 18em;
    max-width: 18em; }

  #mainContent {
    margin-top: 16em;
    min-width: 23.5em -1em; }
    #mainContent h2 {
      font-size: 1.1em;
      line-height: 1.2em; }

  .js #mainContent {
    margin-top: .5em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

  a.menu-link {
    float: right;
    display: block;
    position: fixed;
    z-index: 500;
    top: .6em;
    right: 1em;
    padding: 0;
    border: none; }

  a:hover.menu-link {
    border: none; }

  header {
    min-height: 3em; }
    header .logo {
      clear: left;
      float: none;
      margin: 0px auto;
      padding-top: 2em;
      padding-bottom: .6em; }

  nav {
    width: 100%;
    font-size: 1em;
    margin: 0px auto;
    position: fixed;
    z-index: 500;
    top: 2.55em;
    right: 0;
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    nav ul {
      float: none;
      border-top: 1px solid #cccccc; }
      nav ul li {
        border-right: 1px #cccccc solid;
        display: block;
        background-color: #FFC;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6); }
        nav ul li a {
          height: 3em;
          display: block;
          padding: 0;
          margin: 0;
          border-bottom: 1px solid #cccccc; }
      nav ul li:first-child {
        border-left: 1px #cccccc solid;
        border-right: 1px #cccccc solid; }

  .js nav[role=navigation] {
    overflow: hidden;
    max-height: 0; }

  nav[role=navigation].active {
    max-height: 16em; }

  #mainContent.pushDown {
    margin-top: 16em; }

  .logo.pushDown {
    margin-top: 16em; }

  #sideBar {
    float: none;
    clear: both;
    border: none;
    position: relative;
    width: 100%; }
    #sideBar #blogfeed img {
      margin-top: .5em;
      clear: both;
      float: right;
      width: 100%;
      padding: 0;
      margin-bottom: 1em; }
    #sideBar #blogfeed li {
      margin-bottom: 1em; }
    #sideBar #blogfeed h3 {
      font-size: 1em;
      line-height: 1.2em;
      margin-bottom: .4em; }
      #sideBar #blogfeed h3 a {
        font-family: "Signika Negative", "Gotham", "Helvetica", sans-serif;
        color: #663333;
        text-decoration: none; }

  .hspacerSide {
    visibility: hidden;
    min-height: 0;
    margin: 0;
    padding: 0; }

  footer {
    top: 0px;
    height: 2.5em; }
    footer #social {
      min-width: 15em;
      float: left;
      letter-spacing: -.03em;
      padding: 0.5em 0em 0em 0.2em; }
      footer #social a {
        text-align: center;
        color: #000;
        font-size: .7em;
        padding: 0.5em 0.3em 0.4em 0.8em;
        margin-right: .1em;
        width: 25%;
        background-position: 5% 50%;
        background-repeat: no-repeat; }
        footer #social a.linkedin {
          background-image: none; }
        footer #social a.facebook {
          background-image: none; }
        footer #social a.twitter {
          background-image: none; }
        footer #social a.resume {
          background-image: none; }
      footer #social a:hover {
        background-color: none; } }
/* Style adjustments for high resolution devices */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

                                                                               /* FlexSlider Necessary Styles
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme

.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px; }

.flex-direction-nav .flex-prev {
  left: -36px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  p {
    page-break-after: auto; }

  a.menu-link {
    display: none; }

  nav {
    display: none; }

  #wrapper {
    width: 650px; }

  #mainContent {
    width: 98%; }

  #sideBar {
    float: none;
    clear: both;
    position: relative;
    width: 100%;
    min-height: 100px;
    border: none;
    padding: none; } }
